{#
/**
 * @file
 * Template for custom WorkBC Related Topics Component
 *
 * Available variables:
 * - related_topics
 *   - image
 *   - top_level_parent
 *   - title
 *   - body
 *   - action

#}

{% if related_topics %}
<div class="card-list">
   {% for topic in related_topics %}
   <div class="card-list-item">
      <div class="card-list-item-image-preview">{{ topic.image }}</div>

      {% if topic.top_level_parent|length %}
      <div class="card-list-item-details">
         <div class="card-list-item-parent">{{ topic.top_level_parent }}</div>
      </div>
      {% endif %}

      <div class="card-list-item-content">
         <div class="card-list-item-title">{{ topic.title }}</div>
         <div class="card-list-item-description">{{ topic.body }}</div>
      </div>

      <div class="card-list-item-action">
         {{ topic.action }}
      </div>
   </div>
   {% endfor %}
</div>
{% endif %}