{#
/**
 * @file
 * Template for custom WorkBC Related Topics Component
 *
 * Available variables:
 * - related_topics
 *   - image
 *   - top_level_parent
 *   - title
 *   - body
 *   - action

#}

{% if related_topics %}
<h2> Browse Related Topics</h2>

<div class="swiper-container">
   <div class="swiper">
      <div class="swiper-wrapper">

         {% for topic in related_topics %}
         <div class="swiper-slide workbc-card">
            <div class="workbc-card-container">
               <div class="workbc-card-image-preview">{{ topic.image }}</div>

               {% if topic.top_level_parent|length %}
               <div class="workbc-card-details">
                  <div class="workbc-card-parent">{{ topic.top_level_parent }}</div>
               </div>
               {% endif %}

               <div class="workbc-card-content">
                  <div class="workbc-card-title">{{ topic.title }}</div>
                  <div class="workbc-card-description">{{ topic.body }}</div>
                  <div class="workbc-card-actions">
                     <div class="action">
                        {{ topic.action }}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}

      </div>
   </div>

   <div class="swiper-pagination"></div>

   <div class="swiper-button-prev"></div>
   <div class="swiper-button-next"></div>
</div>

{% endif %}

{{ attach_library('workbc/swiper-js') }}
{{ attach_library('workbc/related-topics-carousel') }}