<div class="related-career">
    <div class="workbc-card-video-preview">
        <a href="/plan-career/career-trek-videos/{{ fields.field_noc.content|striptags|trim }}/{{ fields.field_episode.content|striptags|trim }}">
          <div class="workbc-card-thumbnail">
            {{ fields.thumbnail__target_id.content }}
          </div>
        </a>
    </div>
    <div class="workbc-card-content">
        <div class="title">
            <a href="/plan-career/career-trek-videos/{{ fields.field_noc.content|striptags|trim }}/{{ fields.field_episode.content|striptags|trim }}">
              {{ fields.name.content }}
            </a>
        </div>
        <div class="category">
          {{ fields.career_categories.content }}
        </div>
        <div class="city-location">
          {{ fields.field_location.content }}
        </div>
    </div>
</div>
