{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{% set hoo = row._entity.field_region_hoo.0.value  %}
<div class="card-left">
  <h3>{{ fields['title'].content }}</h3>

  <div class="card-left-or-right">
    <div class="career-profile-titles">
      <h6>Example job titles:</h6>
      {{ fields['field_job_titles_illustrative'].content }}
    </div>
    <div class="career-profile-buttons">
      <div class="career-profile-link">
        {{ fields['view_node'].content }}
      </div>
      <div class="career-profile-titles-toggle">
        <a class="action-link">Show job titles</a>
      </div>
    </div>
  </div>
</div>

<div class="card-right">
  {% if hoo == "1" %}
  <div class="career-profile-hoo">
    <img src="/themes/custom/workbc/assets/images/hoo-icon.svg" alt="High opportunity occupation">
    High opportunity occupation (B.C.)
  </div>
  {% endif %}

  <div class="card-stats-container">
    <img src="/{{ directory }}/assets/images/profile-icon-envelope.svg" alt="" title="" />
    <div class="card-stats">
      <div class="views-label">{{ fields['field_annual_salary'].label }}</div>
      <div class="field-content">{{ fields['field_annual_salary'].content }}</div>
    </div>
  </div>
  <div class="card-stats-container">
    <img src="/{{ directory }}/assets/images/profile-icon-resume.svg" alt="" title="" />
    <div class="card-stats">
      <div class="views-label">{{ fields['field_region_openings'].label }}</div>
      <div class="field-content">{{ fields['field_region_openings'].content }}</div>
    </div>
  </div>
  <div class="card-stats-container">
    <img src="/{{ directory }}/assets/images/profile-icon-gradcap.svg" alt="" title="" />
    <div class="card-stats">
      <div class="views-label">{{ fields['field_teer'].label }}</div>
      <div class="field-content">{{ fields['field_teer'].content }}</div>
    </div>
  </div>

  <div class="card-left-or-right">
    {% if hoo == "1" %}
    <div class="career-profile-hoo">
      <img src="/themes/custom/workbc/assets/images/hoo-icon.svg" alt="High opportunity occupation">
      High opportunity occupation (B.C.)
    </div>
    {% endif %}

    <div class="career-profile-titles">
      <h6>Example job titles:</h6>
      {{ fields['field_job_titles_illustrative'].content }}
    </div>
    <div class="career-profile-buttons">
      <div class="career-profile-link">
        {{ fields['view_node'].content }}
      </div>
      <div class="career-profile-titles-toggle">
        <a class="action-link">Show job titles</a>
      </div>
    </div>
  </div>
</div>
