{#
/**
 * @file
 * Theme override for unformatted summary links.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   - url: The URL to this row's content.
 *   - count: The number of items this summary item represents.
 *   - separator: A separator between each row.
 *   - attributes: HTML attributes for a row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how each row should be displayed. This contains:
 *   - count: A flag indicating whether the row's 'count' should be displayed.
 *   - inline: A flag indicating whether the item should be wrapped in an inline
 *     or block level HTML element.
 *
 * @see template_preprocess_views_view_summary_unformatted()
 */

 /**
  * custom twig file for Career Profiles A-Z (/career-profiles) to include All and
  * letters that don't have definitions
  */
#}


<div class='alphabet-navigation views-summary views-summary-unformatted'>
  {{ options.inline ? '<span' : '<div' }} class="alphabet-navigation-unfiltered">

  <a href="/career-profiles/all">All</a>

  {{ options.inline ? '</span>' : '</div>' }}

  {% set counter = 0 %}
  {% set max = rows|length %}
  
  {% for letter in 'A'..'Z' %}
    {% set hasResults = (counter < max and rows[counter].link == letter) %}

    {{ options.inline ? '<span' : '<div' }} {{ hasResults ? '' : 'class="no-results"' }}>

    {% if rows[1].separator -%}
      {{ rows[1].separator }}
    {%- endif %}

    {% if hasResults %}
      <a href="{{ rows[counter].url }}"{{ row.attributes.addClass(row.active ? 'is-active')|without('href') }}>{{ letter|upper }}</a>
      {% set counter = counter+1 %}
    {% else %}
      {{ letter|upper }}
    {% endif %}

    {% if options.count %}
      ({{ rows[counter].count }})
    {% endif %}

    {{ options.inline ? '</span>' : '</div>' }}

  {% endfor %}
</div>