{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}

  <div class="explore-careers-filter">
    <div class="container-lg">
      {% if header %}
        <div class="view-header">
          <div>
            {{ header }}
          </div>
          <div class="view-header-links">
            {% if hide_category %}
            <div class="view-header-link">
              <a href="/plan-career/explore-careers/career-profiles">Choose a different occupational category</a>
            </div>
            {% endif %}
            <div class="view-header-link">
              <a href="/plan-career/explore-careers/career-profiles/search?hide_category=0&term_node_tid_depth=All">Display all 512 Career Profiles</a>
            </div>
          </div>
        </div>
      {% endif %}


      {% if hide_category %}
        {% set category_class = "hide-occupational-category" %}
      {% else %}
        {% set category_class = "show-occupational-category" %}
      {% endif %}

      {% if career_profiles_total == 0 %}
        {% set zero_class = "zero-found" %}
      {% endif %}

      {% if exposed %}
        <div class="view-filters {{ category_class }} {{ zero_class }}">
          {{ exposed }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="explore-careers-sort">
    <div class="container-lg">
      <h2 class="career-profiles-found-title">We found {{ career_profiles_total }} Career Profiles</h2>
    </div>
  </div>

  <div class="container-lg">
    {% if attachment_before %}
      <div class="attachment attachment-before">
        {{ attachment_before }}
      </div>
    {% endif %}

    {% if rows %}
      <div class="view-content">
        {{ rows }}
      </div>
    {% elseif empty %}
      <div class="view-empty">
        {{ empty }}
      </div>
    {% endif %}

    {% if pager %}
      {{ pager }}
    {% endif %}

    {% if attachment_after %}
      <div class="attachment attachment-after">
        {{ attachment_after }}
      </div>
    {% endif %}

    {% if more %}
      {{ more }}
    {% endif %}

    {% if footer %}
      <div class="view-footer">
        {{ footer }}
      </div>
    {% endif %}
  </div>
</div>
