{#
/**
* @file
* Template for custom WorkBC Career Exploration page
*
* Available variables:
* - career_exploration
*   - categories
*   - interests
#}



{% if career_exploration %}

  <div>{{ career_exploration.categories[1161] }}</div>
  <div>{{ career_exploration.categories[1175] }}</div>
  <div>{{ career_exploration.categories[1187] }}</div>
  <div>
    {% for key, epbc in career_exploration.categories %}    
      <p>
      <h5>{{ epbc }} - {{ key }}</h5>
      <ul>
        {% for interest in career_exploration.interests[key] %}
          <li>{{ interest }}</li>
        {% endfor %}
      </ul>
      </p>
    {% endfor %}
  </div>

{% endif %}
