<div id="{{ id }}" class="expand-collapse megamenu-splash__actions" data-trim-length="{{ trim_length }}" data-default-state="{{ default_state }}"
     data-link-text-open="{{ link_text_open|t }}" data-link-text-close="{{ link_text_close|t }}"
     data-link-class-open="{{ link_class_open }}" data-link-class-close="{{ link_class_close }}">
    <div class="ec-content-summary" style="display: none">
        {{ summary }}
    </div>
    <div class="ec-content">
        {{ value }}
    </div>
</div>
