{%
  set classes = [
    'calendar',
    'event-cal',
    'container',
    viewmode ? 'calendar--view-mode-' ~ view_mode|clean_class,
  ]
%}


<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}
  <div class="calendar-content">
    <nav class="list-nav">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a href="/calendar/view/list" class="nav-link {{ viewmode=='list' or viewmode=='archive'   ? 'show active' :'' }}"  >
          {%
            set active = viewmode=='list' or viewmode=='archive' ? '-hover' : ''
          %}
          <span class="calender_icon">
            <img src="/modules/custom/calendar_listview/images/list-view{{active}}.svg" class="icon"/>
          </span>
          List View
        </a>
        <a href="/calendar/view/calendar" class="nav-link {{ viewmode=='calendar' ? 'show active' :'' }}"  >
        {%
            set active = viewmode=='calendar' ? '-hover' : ''
          %}
          <span class="calender_icon">
            <img src="/modules/custom/calendar_listview/images/calendar-view{{active}}.svg" class="icon"/>
          </span>
          Calendar View
        </a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {% if viewmode == 'list' %}
        <div class="list-full-view tab-pane fade show active" id="nav-list-view" role="tabpanel" aria-labelledby="nav-list-view-tab">
          {{ drupal_view('event_calendar_listview', 'block_1') }}
        </div>
      {% elseif viewmode == 'calendar' %}
        <div class="calendar-full-view tab-pane fade show active" id="nav-calendar-view" role="tabpanel" aria-labelledby="nav-calendar-view-tab">
          {{ drupal_view('event_calendar', 'block_1') }}
        </div>
      {% else %}
        <div class="list-full-view tab-pane fade show active" id="nav-list-view" role="tabpanel" aria-labelledby="nav-list-view-tab">
          {{ drupal_view('event_calendar_listview', 'block_2') }}
        </div>
      {% endif %}
      {{ attach_library('core/drupal.dialog.ajax') }}
    </div>
  </div>
</div>