<footer class="footer">
  <div class="container-lg">
    <div class="footer__top">
      <div class="footer__social">
        {{ drupal_block('simple_block:social_networking_links') }}
      </div>
      <div class="footer__nav-container">
        <nav class="nav-footer" aria-label="Footer Nav">
          {{ drupal_block('system_menu_block:footer', wrapper=false) }}
        </nav>
      </div>
    </div>
    <div class="footer__mid">
      <div class="footer__resize">
        {{ drupal_block('text_resize_block', wrapper=false) }}
      </div>
      <div class="footer__translate_container">
        {{ drupal_block('gtranslate_block', wrapper=false) }}
        <div class="footer__translate_disclaimer">
          <b>Disclaimer:</b> If you are viewing this page in a language other than English, it was machine-translated. The author of the page cannot confirm the accuracy of translated content.
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__logo">
        <a href="http://www2.gov.bc.ca/" alt="British Columbia" title="British Columbia" class="site-logo__link" target="_blank">
          <img class="footer__logo_image" src="/{{ directory }}/assets/images/logo-bc.png" alt="{{ 'British Columbia logo'|t }}" />
        </a>
      </div>
      <div class="footer__copyright">
        <p>Copyright &copy; {{ 'now' | date('Y') }}</p> &nbsp; {{ drupal_block('simple_block:copyright_notice', wrapper=false) }}
      </div>
    </div>
  </div>
</footer>
