<footer class="footer">
  <div class="container-lg">
    <div class="footer__top">
      <div class="footer__social">
        {{ drupal_block('simple_block:social_networking_links') }}
      </div>
      <div class="footer__nav-container">
        <nav class="nav-footer">
          {{ drupal_block('system_menu_block:footer', wrapper=false) }}
        </nav>
      </div>
    </div>
    <div class="footer__mid">
      <div class="footer__resize">
        {{ drupal_block('text_resize_block', wrapper=false) }}
      </div>
      <div class="footer__translate">
        {{ drupal_block('gtranslate_block', wrapper=false) }}
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__logo">
        <a href="http://www2.gov.bc.ca/" alt="British Columbia" title="British Columbia" class="site-logo__link" target="_blank">
          <img src="/{{ directory }}/assets/images/logo-bc.svg" alt="{{ 'British Columbia logo'|t }}" />
        </a>
      </div>
      <div class="footer__copyright">
        <p>Copyright &copy; {{ 'now' | date('Y') }}</p> &nbsp; {{ drupal_block('simple_block:copyright_notice', wrapper=false) }}
      </div>
    </div>
  </div>
  <div>
    {{ drupal_block('devel_switch_user') }}
  </div>
</footer>
