{#
/**
 * @file
 * Template for custom WorkBC Related Topics Component
 *
 * Available variables:
 *   - map_no (a numeric id)
 *   - regions
 *   - map_type (link, table)
 */
#}

{% set map_type = map_type is null ? "table" : map_type %}

{% set region_cariboo = 1 %}
{% set region_kootenay = 2 %}
{% set region_mainland_southwest = 3 %}
{% set region_north_coast_nechako = 4 %}
{% set region_northeast = 5 %}
{% set region_thompson_okanagan = 6 %}
{% set region_vancouver_island_coast = 7 %}

<div class="workbc-interactive-map-container">
  <div class="workbc-interactive-map" data-interactive-map-type="{{ map_type }}"  data-interactive-map-no="{{ map_no }}">    

    {% include '@workbc/assets/images/bc-map-2025.svg' %}

    {% for region in regions %}
      {% if region.id > 0 %}
        <div class="map-region-label-{{ region.key }} map-region-label" data-interactive-map-type="{{ map_type }}" data-interactive-map-no="{{ map_no }}" data-interactive-map-region-no="{{ region.id }}" data-interactive-map-region-link="{{ region.link }}" aria-disabled="true">{{ region.name }}</div>
      {% endif %}
    {% endfor %}

    {% for region in regions %}
      {% if region.id > 0 %}
        <div class="label-line map-region-label-line-{{ region.key }}">
          <img src="/{{ directory }}/assets/images/map-line.svg" alt="">
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>

{{ attach_library('workbc/interactive-map') }}
