{% if page.nav_branding or page.nav_main or page.nav_additional %}
  <nav class="{{ nav_classes }}">
    <div class="{{ b5_top_container }} px-0 d-flex">
      {{ page.nav_branding }}
      <div class="collapse navbar-collapse justify-content-md-end flex-wrap" id="navbarSupportedContent">
        {{ page.nav_main }}
        {{ page.nav_additional }}
      </div>
    </div>
  </nav>
{% endif %}

{{ attach_library('workbc/submenu-underlay') }}