<span class="mobile-nav-header">
  <a class="mobile-nav-logo-link" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
   <span class="visually-hidden">
      {{ 'Home'|t }}
    </span>
    <img class="mobile-nav-logo" src="/{{ directory }}/logo.svg" aria-hidden="true"  title="{{ 'WorkBC'|t }}" alt="{{ 'WorkBC'|t }}" />
  </a>
  <span class="mobile-nav-close" title="Close menu" aria-label="Close menu">
    <span class="mobile-nav-close__label">{{ 'Close menu'|t }}</span>
  </span>
</span>

<div class="mobile-nav__panel">
  {{ include('@responsive_menu/responsive-menu-off-canvas.html.twig') }}

  <div class="mobile-nav__user-nav">
    {{ drupal_block('system_menu_block:account', wrapper=false) }}
  </div>
</div>
