<span class="mobile-nav-header">
  <img class="mobile-nav-logo" src="/{{ directory }}/logo.svg" alt="{{ 'logo'|t }}" />
</span>

<a id="toggle-icon" class="toggle responsive-menu-toggle-icon" title="Menu" href="#off-canvas">
  <span class="icon"></span><span class="label">{{ 'Menu'|t }}</span>
</a>


<div class="mobile-nav__panel">
  {{ include('@responsive_menu/responsive-menu-off-canvas.html.twig') }}

  <div class="mobile-nav__user-nav">
    {{ drupal_block('system_menu_block:account', wrapper=false) }}
  </div>
</div>
