{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}

{% set page_format = content.field_page_format|render|striptags|trim|lower %}

{% set title = label %}
{% set hero_image = content.field_hero_image_media[0] %}
{% set hero_text = content.field_hero_text[0] %}
{% set page_body = content.body %}
{% set page_content = content.field_content %}

{% set switch_language_link = drupal_entity('block', 'workbcswitchlanguageblock')|render %}

{% set left_block %}
  {{ drupal_entity('block', 'sidenavblock') }}
{% endset %}

{% set related %}
  {{ drupal_entity('block', 'related_topics') }}
{% endset %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    page_format ? 'page-format--' ~ page_format|clean_class,
    'page-container',
    not is_career_trek ? 'container-lg',
    is_career_trek ? 'career-bg',
  ]
%}

{% if is_front %}
  {% include '@workbc/includes/hero-home.html.twig' %}
{% elseif drupal_view_result('banner_video', 'block_1') is not empty %}
  {{ drupal_view('banner_video', 'block_1') }}
{% elseif hero_image or hero_text %}
  {% include '@workbc/includes/hero.html.twig' %}
{% endif %}

{# Breadcrumbs #}
{% include '@workbc/includes/breadcrumbs.html.twig' %}

{# Switch Language Link #}
{% if switch_language_link %}
  <div class="fr-link">
    {{ switch_language_link }}
  </div>
{% endif %}

{# Social Sharing #}
{% include '@workbc/includes/social-sharing.html.twig' %}

<article{{ attributes.addClass(classes) }}>

  {% if left_block|striptags|trim %}
    <aside class="page-sidebar" role="complementary" aria-label="Sidebar">
      {{ left_block }}
    </aside>
  {% endif %}

  <div class="node-page-content">
    {% if hero_image is empty and hero_text is empty %}
      <h1 class="page-title">{{ label }}</h1>
    {% endif %}

    {% if drupal_region('content_top') %}
      {{ drupal_region('content_top') }}
    {% endif %}

    {% if left_block|striptags|trim %}
      <div class="on-this-page">
        {{ left_block }}
      </div>
    {% endif %}
    {% if is_contact %}
      <div class="contact-container">
        <div class="contact-form-container">
          {% if page_body %}
            {{ page_body }}
          {% endif %}

          {% if page_content %}
            {{ page_content }}
          {% endif %}

          {{ drupal_entity('block', 'webform_3') }}
          {{ drupal_entity('block', 'collectionnoticeblock') }}
        </div>
        <div class="contact-blocks-container">
          {{ drupal_entity('block', 'onlinechat') }}
          {{ drupal_entity('block', 'visitaworkbccentre') }}
        </div>
      </div>        
    {% else %}
      {% if is_career_trek %}
        <div class="light-wrapper">
        <div class="container-lg">
      {% endif %}
        {% if page_body %}
          {{ page_body }}
        {% endif %}

        {% if page_content %}
          {% for key, content in page_content %}
            {% if key|number_format and content['#paragraph'].getType() != "banner_video" %}
              {{ content }}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% if is_career_trek %}
        </div>
        </div>
      {% endif %}
    {% endif %}

    {% if drupal_region('content_bottom') %}
      {{ drupal_region('content_bottom') }}
    {% endif %}
  </div>
</article>

{% if related|striptags|trim %}
  <div class="container-lg">
    {{ related }}
  </div>
{% endif %}
