{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}

{% set title = label %}
{% set hero_image = content.field_hero_image[0] %}
{% set hero_text = null %}
{% set hero_noc = content.field_noc['#items'].getString() %}
{% set hero_hoo = content.extra_field_high_opportunity_occupation[0]['#markup'] %}

{% set statistic_annual_salary = content.extra_field_annual_salary %}
{% set statistic_annual_salary_source = content.extra_field_annual_salary_source %}
{% set statistic_minimum_education = content.extra_field_minimum_education %}
{% set statistic_job_openings = content.extra_field_job_openings %}
{% set statistic_job_openings_source = content.extra_field_job_openings_source %}

{% set career_profile_tabbed_content = content.group_career_profile_tabs %}

{% set tab_groups = {
  'item-1': {
    'title': 'Career Overview'|t,
    'key': 'group_career_overview',
    'content': career_profile_tabbed_content.group_career_overview,
  },
  'item-2': {
    'title': 'Training, Education & Skills'|t,
    'key': 'group_education_training_skills',
    'content': career_profile_tabbed_content.group_education_training_skills,
  },
  'item-3': {
    'title': 'Labour Market Statistics'|t,
    'key': 'group_labour_market_statistics',
    'content': career_profile_tabbed_content.group_labour_market_statistics,
  },
  'item-4': {
    'title': 'Industry Highlights'|t,
    'key': 'group_industry_highlights',
    'content': career_profile_tabbed_content.group_industry_highlights,
  },
  'item-5': {
    'title': 'Resources'|t,
    'key': 'group_resources',
    'content': career_profile_tabbed_content.group_resources,
  },
 }
%}

{% set career_videos_introduction = content.field_career_videos_introduction %}
{% set career_videos = content.field_career_videos %}
{% set links = content.links %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'workbc-career-profile',
  ]
%}

{% set container_attributes = create_attribute() %}

<div class="career-profile-header">

  <div class="career-profile-header-breadcrumb">
    {{ drupal_block('system_breadcrumb_block', wrapper=false) }}
  </div>

  {% if hero_image or hero_text %}
    <div class="career-profile-header-banner hero-banner hero-banner-profile">

      <div class="hero-image-wrapper">
        <div class="hero-image-overlay"></div>
        {{ hero_image }}
      </div>

      <div class="hero-content-container container-lg">
        <div class="hero-content-wrapper">
          <div class="hero-title">
            <h1>{{ title }}</h1>
          </div>

          <div class="hero-noc">(NOC {{ hero_noc }})</div>

          {% if hero_hoo %}
            <div class="hero-hoo">
              <img src="/{{ directory }}/assets/images/hoo-icon.svg" alt="{{ 'High opportunity occupation'|t }}" />
              <span>{{ 'High opportunity occupation'|t }}</span>
            </div>
          {% endif %}

          <div class="hero-content">
            {{ hero_text }}
          </div>
        </div>
      </div>

    </div>
  {% endif %}

  <div class="career-profile-header-social container-lg">
    {{ drupal_block('social_sharing_buttons_block', wrapper=false) }}
  </div>
</div>


<article{{ attributes.addClass(classes) }}>

  <div class="career-statistics-wrapper">
    <div class="container-lg profile-information-card-deck">

      <div class="profile-information-card profile-information-salary">
        <div class="profile-information-card-icon">
        </div>
        <div class="profile-information-card-content">
          <div class="profile-information-card-title">
            {{ statistic_annual_salary['#title'] }}
          </div>
          <div class="profile-information-card-value">
          {{ statistic_annual_salary.0['#markup'] }}
          </div>
        </div>
        <div class="profile-information-card-infotip">
          <a tabindex="0" class="btn btn-link info-tooltip" role="button" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="click" data-bs-placement="bottom" data-bs-custom-class="workbc-popover" title="hidden title" data-bs-html="true" data-bs-content="<em>Source:</em> {{ statistic_annual_salary_source.0['#markup'] }}"></a>
        </div>
      </div>

      <div class="profile-information-card profile-information-education">
        <div class="profile-information-card-icon">
        </div>
        <div class="profile-information-card-content">
          <div class="profile-information-card-title">
            {{ statistic_minimum_education['#title'] }}
          </div>
          <div class="profile-information-card-value">
          {{ statistic_minimum_education.0['#markup'] }}
          </div>
        </div>
      </div>

      <div class="profile-information-card profile-information-jobs">
        <div class="profile-information-card-icon">
        </div>
        <div class="profile-information-card-content">
          <div class="profile-information-card-title">
            {{ statistic_job_openings['#title'] }}
          </div>
          <div class="profile-information-card-value">
          {{ statistic_job_openings.0['#markup'] }}
          </div>
        </div>
        <div class="profile-information-card-infotip">
          <a tabindex="0" class="btn btn-link info-tooltip" role="button" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-custom-class="workbc-popover" title="hidden title" data-bs-html="true" data-bs-content="<em>Source:</em> {{ statistic_job_openings_source.0['#markup'] }}"></a>
        </div>
      </div>

    </div>
  </div>

  <div class="career-details-wrapper">
    <div class="career-content-shim"></div>

    <div class="career-content-tabs ">
      <div class="container-lg scroll-container">
        <ul class="nav nav-tabs career-content-tab-list scroll" id="career-content-tabs" role="tablist">
          {% for group in tab_groups %}
            <li class="nav-item" role="presentation">
              <a class="nav-link career-content-tab-button{{ loop.first ? ' active'}}" id="{{group.key}}-tab" data-bs-toggle="tab" data-bs-target="#{{group.key}}-content" aria-controls="{{group.key}}-content" aria-selected="true" role="tab" href="#">{{group.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="container-lg scroll-affordance-shim"></div>
    </div>

    <div class="container-lg">
      <div class="career-content-container">

        <div class="tab-content career-content-main">
          {% set tempgroup = tab_groups|first %}
          {#
          'title': 'Career Overview'|t,
          'key': 'group_career_overview',
          'content': career_profile_tabbed_content.group_career_overview,
          #}

          <div class="tab-pane active" id="{{tempgroup.key}}-content" role="tabpanel" aria-labelledby="{{tempgroup.key}}-tab">
              
              <h2 class="introduction">Career Overview</h2>
              <div>{{ tempgroup.content.field_career_overview.0['#text'] | raw }}</div>
              
              <h2>Duties</h2>
              <div>{{ tempgroup.content.field_duties.0['#text'] | raw }}</div>

              <h2>Salary</h2>
              <div>{{ tempgroup.content.field_salary_introduction.0['#text'] | raw }}</div>

              <div class="salary-card card-profile">
                <div class="card-profile__content">
                  <div class="card-profile__statistic">
                    <h3>Annual Salary</h3>
                    <div class="card-profile__statistic-single">
                      <span>$31.99/hr</span>
                    </div>
                  </div>
                  <div class="card-profile__statistic">
                    <h3>Provincial Hourly Rate</h3>
                    <div class="card-profile__statistic-table">
                      <div class="stat-row">
                        <label class="stat-col">High</label>
                        <span class="stat-col">$31.99/hr</span>
                      </div>
                      <div class="stat-row">
                        <label class="stat-col">Median</label>
                        <span class="stat-col">$27.49/hr</span>
                      </div>
                      <div class="stat-row">
                        <label class="stat-col">Low</label>
                        <span class="stat-col">$18.48/hr</span>
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="card-profile__source">
                  <em>Source:</em> 2020 Labour Force Survey
                </div>
              </div>

              <hr>
              <hr>
              {{ tempgroup.content }}
              {{ kint(tempgroup.content) }}
              <hr>
              <hr>
          </div>

          {% for group in tab_groups|slice(1) %}
            <div class="tab-pane{{ loop.first ? ' active'}}" id="{{group.key}}-content" role="tabpanel" aria-labelledby="{{group.key}}-tab">
                {{ group.content }}
            </div>
          {% endfor %}

        </div>

        <div class="career-content-sidebar">
          <div class="career-videos-wrapper">
            <div class="container-lg">
              <h2>{{ career_videos_introduction }}</h2>
              {{ career_videos }}
            </div>
          </div>

          <div class="career-recent-jobs-wrapper">
            <div class="container-lg">
              {{ drupal_entity('block', 'recentjobs') }}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</article>

{% if related|striptags|trim %}
  <div class="container-lg px-1">
    {{ related }}
  </div>
{% endif %}

{{ attach_library('workbc/init-popovers') }}
{{ attach_library('workbc/scrollbooster') }}

