{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}

{% set title = label %}
{% set hero_image = content.field_hero_image[0] %}
{% set hero_noc = content.field_noc['#items'].getString() %} 
{% set hero_hoo = content.extra_field_high_opportunity_occupation[0]['#markup'] %}


{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% include '@workbc/includes/breadcrumbs.html.twig' %}

{% if hero_image or hero_text %}
  {% include '@workbc/includes/hero.html.twig' %}
{% endif %}

<article{{ attributes.addClass(classes) }}>

  {# fields and markup here e.g: {{ content.field_noc }} or set the content.field as variables above and render here #}
  {# {{ see node node--page--full.html.twig as an example }} #}

  <div class="career-statistics-wrapper">
    <div class="container-lg">
      Career Statistics Placeholder

      {{ content.fields_extra_field_annual_salary }}
      {{ content.fields_extra_field_annual_salary_source }}

      {{ content.fields_extra_field_minimum_education }}

      {{ content.fields_extra_field_job_openings }}
      {{ content.fields_extra_field_job_openings_source }}

    </div>
  </div>

  <div class="career-details-wrapper">
    <div class="container-lg">

    {{ content.group_career_profile_tabs }}

      {# <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Career Overview</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education" type="button" role="tab" aria-controls="education" aria-selected="false">Education, Training &amp; Skills</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="statistics-tab" data-bs-toggle="tab" data-bs-target="#statistics" type="button" role="tab" aria-controls="statistics" aria-selected="false">Labour Market Statistics</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="highlights-tab" data-bs-toggle="tab" data-bs-target="#highlights" type="button" role="tab" aria-controls="highlights" aria-selected="false">Industry Highlights</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="resources-tab" data-bs-toggle="tab" data-bs-target="#resources" type="button" role="tab" aria-controls="resources" aria-selected="false">Resources</button>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          {{ content.field_career_overview }}
        </div>
        <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
          {{ content.field_education_training_skills }}
        </div>
        <div class="tab-pane fade" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
          {{ content.field_education_training_skills }}
        </div>
        <div class="tab-pane fade" id="highlights" role="tabpanel" aria-labelledby="highlights-tab">
          {{ content.field_insights_from_industry }}
        </div>
        <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="resources-tab">
          {{ content.field_resources }}
        </div>
      </div> #}

    </div>
  </div>

  <div class="career-videos-wrapper">
    <div class="container-lg">
      Career Videos Placeholder (desktop sidebar)
    </div>
  </div>

  <div class="career-recent-jobs-wrapper">
    <div class="container-lg">
      Recent Jobs Placeholder (desktop sidebar)
    </div>
  </div>

  {% if page_body %}
    {{ page_body }}
  {% endif %}

  {{ page_content }}
</article>

{% if related|striptags|trim %}
  <div class="container-lg">
    {{ related }}
  </div>
{% endif %}
